{% extends "mysite/base.html" %}
{% block content %}


    <div>
        <form action=" " method="GET">
            
            <div class="select-search" >
                <div class="select">
                    <select name="category">
                        <option value='' disabled selected>Category</option>
                            {% for category in categories %}
                                <option id="category" value='{{ category.category_id }}'>{{ category.category }}</option>
                            {% endfor %}
                    </select>
                </div> 
            </div>
            <div class="select-search">
                <div class="wrap">
                    <input type='text' class="searchTerm" name='query' placeholder='Search Restaurant...' value='{{ request.GET.query }}'/>   
                    <button type="submit" value="Search" class="searchButton"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <div id='display-area'>
        {% for restaurant in restaurant_list %}
            <article class="media content-section">
                <a href="{% url 'restaurant-detail-comment' restaurant.restaurant_id %}"><img alt="restaurant picture"
                   class="rounded-circle article-img" src="media/{{ restaurant.restaurant_picture }}"></a>
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2">{{ restaurant.address }}</a>|
                        <b><small class="text-muted">{{ restaurant.phone_number }}</small></b>
                    </div>
                    <div class="name_price">
                        <div class="name_price">
                            <h2><a href="{% url 'restaurant-detail-comment' restaurant.restaurant_id %}">{{ restaurant.name }}</a></h2>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="name_price">
                            <strong class="article-content">$ {{ restaurant.avg_price }}</strong>
                        </div>
                    </div>
                    <br/>
                    <div class="display">    
                        <div class="display"><span id="review"><div id="bg">  
                            <div id="over" style="width: {% widthratio restaurant.average 1 12 %}px"></div></div>
                            
                        </div>
                        <div class="display">
                            <strong id="rating">{{ restaurant.average|floatformat:1}}</strong></span>
                        </div>&nbsp;&nbsp;&nbsp;
                        <div class="display">
                            <a href="{% url 'restaurant-detail-comment' restaurant.restaurant_id %}">
                            <strong>{{ restaurant.comment_set.all.count }} reviews </strong></a>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>    
                    <p class="article-content">{{ restaurant.description }}</p>
                </div>
                <!-- </div> -->
            </article>
        {% empty %}
            <p><b>Sorry, no restaurant is found.</b></p>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if restaurant_list.has_previous %}
                    <a href="?page={{ restaurant_list.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ restaurant_list.number }} of {{ restaurant_list.paginator.num_pages }}.
                </span>
        
                {% if restaurant_list.has_next %}
                    <a href="?page={{ restaurant_list.next_page_number }}">next</a>                    
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}