{% extends "mysite/base.html" %}
{% block content %}

    <div>
        <form action=" " method="GET">
            <select name="category">
                <option value=''>--Choose Category--</option>
                {% for category in categories %}
                    <option id="category" value='{{ category.category_id }}'>{{ category.category }}</option>
                {% endfor %}
            </select>

            <input type='text' name='query' placeholder='Search restaurant here...' value='{{ request.GET.query }}'/>
            <input type="submit" value="Search">
        </form>
    </div>
    <div id='display-area'>
        {% for restaurant in restaurant_list %}
            <article class="media content-section">
                <a href="{% url 'restaurant-detail-comment' restaurant.restaurant_id %}"><img alt="restaurant picture"
                                                                                      class="rounded-circle article-img"
                                                                                      src="media/{{ restaurant.restaurant_picture }}"></a>
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2">{{ restaurant.address }}</a>
                        <small class="text-muted">{{ restaurant.phone_number }}</small>
                    </div>
                    <h2><a class="article-title"
                           href="{% url 'restaurant-detail-comment' restaurant.restaurant_id %}">{{ restaurant.name }}</a></h2>
                    <p class="article-content">{{ restaurant.description }}</p>
                    <label>Price</label>{{ restaurant.avg_price }}
                    {{ restaurant.comment_set.all.count }} reviews
                    {% if restaurant.comment_set.all.count %}    
                    <p>rating:{{ restaurant.average|floatformat:1}}</p>
                    {% endif %}
                    <p class="article-content">{{ restaurant.description }} {{ restaurant.avg_price }}</p>
                    {{ restaurant.comment_set.all.count }} reviews
                    {% if restaurant.comment_set.all.count %}
                    <p>rating:{{ restaurant.average|floatformat:1 }}</p>
                    {% endif %}

                </div>
            </article>
        {% empty %}
            <p><b>Sorry, no restaurant is found.</b></p>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if restaurant_list.has_previous %}
                    <a href="?page={{ restaurant_list.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ restaurant_list.number }} of {{ restaurant_list.paginator.num_pages }}.
                </span>
        
                {% if restaurant_list.has_next %}
                    <a href="?page={{ restaurant_list.next_page_number }}">next</a>                    
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}