{% extends "mysite/base.html" %}
{% load mysite_range_loop %}
{% block content %}
    <div>
        {% comment %}this will need to match the variable name of the dictionary key{% endcomment %}
        <article class="media content-section">
            <img alt="restaurant-picture" class="rounded-circle article-img"
                 src="../media/{{ restaurant.restaurant_picture }}">
            <div class="media-body">
                <div class="article-metadata">
                    {{ restaurant.address }}
                    <small class="text-muted">{{ restaurant.phone_number }}</small>
                </div>
                <h2 class="article-title" href="#">{{ restaurant.name }}</h2>
                <p class="article-content">{{ restaurant.description }}</p>
            </div>
        </article>
    </div>
    <!--Rating widget-->
    <div>
        <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5"
                                                                           title="Awesome - 5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4"
                                                                           title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3"
                                                                           title="Meh - 3 stars"></label>
            <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2"
                                                                           title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1"
                                                                           title="Sucks big time - 1 star"></label>
            {#            <input type="radio" id="starhalf" name="rating" value="half"/><label class="half" for="starhalf"#}
            {#                                                                                 title="Sucks big time - 0.5 stars"></label>#}
        </fieldset>
    </div>
    <!--Comment Box-->
    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-12 gedf-main">

                <!--- \\\\\\\Post-->
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <textarea class="form-control" id="message" rows="3"
                                          placeholder="What are you thinking?"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Comment Section-->
    {% for comment in restaurant.comment_set.all %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                            <!----TO BE CHANGED----->
                            <p class="text-secondary text-center">{{ comment.comment_datetime }}</p>
                            <!----TO BE CHANGED----->
                        </div>
                        <div class="col-md-10 comment-box">
                            <p>
                                <a class="float-left"
                                   href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{ comment.user.username }}</strong></a>
                                <!----TO BE CHANGED----->
                                {% for star in comment.rating|get_range %}
                                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                {% endfor %}

                            </p>
                            <div class="clearfix"></div>
                            <p>{{ comment.comment }}</p>
                            <p>
                                <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i>
                                    Reply</a>
                                <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                            </p>
                        </div>
                    </div>
                    {#                {% if comment.reply_set.all %}#}
                    {#                    {% for reply in comment.reply_set.all %}#}
                    <div class="card card-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                         class="img img-rounded img-fluid"/>
                                    <p class="text-secondary text-center">15 Minutes Ago</p>
                                </div>
                                <div class="col-md-10 comment-box">
                                    <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman
                                        Akash</strong></a></p>
                                    <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into
                                        electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the
                                        1960s
                                        with
                                        the release of Letraset sheets containing Lorem Ipsum passages, and more
                                        recently
                                        with desktop publishing software like Aldus PageMaker including versions of
                                        Lorem
                                        Ipsum.</p>
                                    <p>
                                        <a class="float-right btn btn-outline-primary ml-2"> <i
                                                class="fa fa-reply"></i>
                                            Reply</a>
                                        <a class="float-right btn text-white btn-danger"> <i
                                                class="fa fa-heart"></i>
                                            Like</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#                    {% endfor %}#}
            </div>
        </div>
    {% endfor %}


{% endblock content %}